body {
    margin: 0;
    padding: 0;
    background: url('./Assets/colab.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
  }

form {
    background-color: #C1E1C1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

button{
  width: 140px;
  height: 40px;
  position: relative;
  left: 90px;
  background-color: #cbc3e3;
  border-color: #cbc3e3;

}

button:hover{
  background-color: #7393B3;
  border-color: #7393B3;
}


